#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the BSD tester node.
#===============================================================================

# Multicast address and port to transmit and receive packets through
multicast_address: 224.0.0.150
multicast_tx_port: 2021
multicast_rx_port: 2020

# Vehicle ID that passthrough packets are targeted for
passthrough_target_id: 2

# Controls for printing of packet information to the console
print_heartbeat_packets: false
print_response_packets: false
print_device_packets: false
print_passthrough_packets: false
