#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the FSD tester node.
#===============================================================================

# Vehicle ID number that the node will pretend to have
vehicle_id: 4

# Vehicle ID to send packets to
packet_destination_id: 1

# Vehicle ID that passthrough packets are targeted for
passthrough_target_id: 2

# Controls logging of detailed received packet contents
log_response_packets: true
log_heartbeat_packets: false

# Multicast address and port to transmit and receive packets on
multicast_address: 224.0.0.139
multicast_port: 1338

# Multicast address and port to receive acoustic packets from
acoustic_multicast_address: 224.0.0.139
acoustic_multicast_port: 1339

# Multicast address and port to receive Iridium packets from
iridium_multicast_address: 224.0.0.139
iridium_multicast_port: 1340
