#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the actuators calibration node.
#
# Author:      sgibson, stkrauss
#===============================================================================

# Calibration file that will be loaded and written by the calibration node
fin_calibration_filepath: /var/avl_calibration/actuators_node.calib

# Sequence of pulse widths used by the node to calibrate the fins
pulse_width_sequence: [1.75, 1.625, 1.5, 1.375, 1.25]

# Fin channel mapping for the Maestro PWM controller
port:
  channel: 4
starboard:
  channel: 2
top:
  channel: 1
bottom:
  channel: 3
