#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the exampleguidance node.
#===============================================================================

# Guidance node settings -------------------------------------------------------
# Task Iterate Rate in Hz
task_iterate_rate: 5.0
