#===============================================================================
# Autonomous Vehicle Library
#
# PURPOSE: Configuration file for the ASCL GPIO node.
#
# AUTHOR:  sgibson2, stkrauss
#===============================================================================

# ASCL GPIO board settings -----------------------------------------------------

# Enables or disables message publishing for each sensor
enable_pressure: true
enable_temperature: true
enable_rpm: true

# Precision multipliers for GPIO board message values
pressure_precision: 0.001
temperature_precision: 0.001
encoder_precision: 0.1

# RPM encoder resolution
encoder_resolution: 4.0

# Maximum number of pressure measurements to use to zero the pressure. Pressure
# will be offset by the average of these measurements when the zero pressure
# service is called
max_pressure_zeroing_points: 20

# Pressure offset calibration file that will be loaded and written to
calibration_filepath: /var/avl_calibration/ascl_gpio_node.calib

# Serial port settings ---------------------------------------------------------
serial:

    # Serial port name the device is connected to
    port_name: "/dev/gpio"

    # Serial baud rate in bits per second
    baudrate: 115200

    # Serial read timeout in milliseconds
    read_timeout: 1000
