#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the Digi 9XTend-PKG Radio Node 
#===============================================================================

# Radio output rate (Hz)
output_rate: 1.0

# Serial port settings ---------------------------------------------------------
serial:

    # Serial port name the device is connected to
    port_name: "/dev/ttyS0"

    # Serial baud rate in bits per second
    baudrate: 9600

    # Serial read timeout in milliseconds
    read_timeout: 0
