#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the joystick node.
#===============================================================================

# Joystick number (e.g. 1 if joystick is /dev/input/js1)
joystick_num: 2

# Amount a joystick must move before its value becomes nonzero, relative to the
# joystick axis value range of [-1, 1]. The axis value starts at 0 when it
# leaves the deadzone and scales linearly to -1 or 1.
axis_deadzone: 0.3

# Minimum and maximum rate in Hz that joystick messages will be published.
# Joystick messages will be published at the minimum rate when the joystick is
# not being moved (if it is connected) and at the maximum rate when it is.
min_output_rate: 10.0
max_output_rate: 1000.0
