#===============================================================================
# Autonomous Vehicle Library
#
# PURPOSE: Configuration file for the KVH 1725 IMU node.
#
# AUTHOR:  stkrauss
#===============================================================================

# KVH IMU Settings -------------------------------------------------------------

kvh:

    # IMU serial baudrate in bps. Warning: Changing this will break
    # communication with the IMU, and the node will have to be restarted with
    # the new baudrate set for the serial settings
    # (9600, 19200, 38400, 57600, 115200, 460800, 576000, 921600
    baudrate: 921600

    # IMU output rate in Hz (1, 5, 10, 25, 50, 100, 250, 500, 750, 1000)
    datarate: 100

    # Enable or disable gyroscope and accelerometer low-pass filtering
    # (true or  false)
    enable_filtering: true

    # IMU frame to vehicle frame rotation matrix. All sensor measurements will
    # be rotated by this rotation matrix. (9 double elements, row major)
    rotation_matrix: [  0.000000000000000,  0.000000000000000, -1.000000000000000,
                        0.707106781186548, -0.707106781186548,  0.000000000000000,
                       -0.707106781186548, -0.707106781186548,  0.000000000000000 ]

    # Temperature units (C or F)
    temp_units: F

    # Gyroscope output format. Gyroscope can provide either change in angle or
    # angular rate (DELTA or RATE)
    gyro_format: RATE

    # Gyroscope low-pass filter type (CHEBY, BUTTER, AVE)
    gyro_filter_type: CHEBY

    # Accelerometer low-pass filter type (CHEBY, BUTTER, AVE)
    accel_filter_type: CHEBY

# Serial port settings ---------------------------------------------------------

serial:

    # Serial port name the device is connected to
    port_name: "/dev/imu"

    # Serial baud rate in bits per second
    # (9600, 19200, 38400, 57600, 115200, 460800, 576000, 921600)
    baudrate: 921600

    # Serial read timeout in milliseconds
    read_timeout: 5000
