#===============================================================================
# Autonomous Vehicle Library
#
# PURPOSE: Configuration file for the linkquest dvl node.
#
# AUTHOR:  sgibson2
#===============================================================================

# LinkQuest DVL Settings -------------------------------------------------------

# Data output period in seconds, with a precision of 0.01 seconds
output_period: 1.0

# Speed of sound in water in m/s. Supports integers only.
speed_of_sound: 1500

# Enables or disable trigger out. Must be disabled when using trigger in mode.
enable_trigger_out: false

# DVL working mode
#     0: power-on_continuous
#     1: command continuous
#     2: command step (trigger in mode)
working_mode: 0

# Serial port settings ---------------------------------------------------------
serial:

    # Serial port name the device is connected to
    port_name: "/dev/dvl"

    # Serial baud rate in bits per second
    baudrate: 115200

    # Serial read timeout in milliseconds
    read_timeout: 5000
