#===============================================================================
# Autonomous Vehicle Library
#
# PURPOSE: Configuration file for the Maestro PWM control board node.
#
# AUTHOR:  stkrauss
#===============================================================================

# PWM settings -----------------------------------------------------------------

# PWM output timeout in milliseconds. If no PWM command is received within this
# time since the previous command, PWM output will be disabled. PWM output
# is re-enabled when a new command is sent
pwm_timeout: 1000

# Channel specific settings for PWM transition speed and acceleration
channel0:
    speed: 0
    acceleration: 0

channel1:
    speed: 0
    acceleration: 0

channel2:
    speed: 0
    acceleration: 0

channel3:
    speed: 0
    acceleration: 0

channel4:
    speed: 0
    acceleration: 0

channel5:
    speed: 0
    acceleration: 0
