#===============================================================================
# Autonomous Vehicle Library
#
# PURPOSE: Configuration file for the Marine Sonic sonar node.
#
# AUTHOR:  stkrauss
#===============================================================================

# Sonar boot time in seconds
boot_time: 1.0

# Sonar ping rate in Hz (1.0 to 60.0)
ping_rate: 5.0

# Maximum sonar ping range in meters (3.0 to 500.0)
max_range: 10.0

# Minimum sonar range in meters (0.0 to max_range)
min_range: 0.00

# Number of samples to acquire with each ping (256, 512, 1024)
num_samples: 1024

# Number of bits per sample (8, 12)
sample_size: 12

# Index of tansducer on left and right transducer bus channels to use for data
# collection (0 to 6)
left_transducer_index: 1
right_transducer_index: 1

# TCP socket settings ----------------------------------------------------------

tcp:

    # Address and port of TCP server to connect to
    address: 10.0.10.150
    port: 9999

    # Read timeout in milliseconds
    read_timeout: 0
