#===============================================================================
# Autonomous Vehicle Library
#
# PURPOSE: Configuration file for the Microstrain AHRS node.
#
# AUTHOR:  stkrauss
#===============================================================================

# Sensor frame to vehicle frame Euler angles [roll, pitch, yaw] in degrees. The
# node publishes AHRS data that has been transformed into the vehicle frame
theta_sensor_to_vehicle: [0.0, 0.0, 0.0]

# Size of the ring buffer collecting magnetometer samples for calibration
max_mag_samples: 60000

# Serial port settings ---------------------------------------------------------
serial:

    # Serial port name the device is connected to
    port_name: "/dev/ahrs"

    # Serial baud rate in bits per second
    # (1200, 2400, 4800, 9600, 19200, 38400, 57600, 115200)
    baudrate: 115200

    # Serial read timeout in milliseconds
    read_timeout: 5000
