#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the Ping DSP sonar node.
#===============================================================================

# Folder that sonar data will be saved to
data_folder: "D:\\"

#===============================================================================
#                                TCP SETTINGS
#===============================================================================

# IP address of the sonar computer running the 3DSS control software
sonar_computer_address: 10.0.10.152

#===============================================================================
#                               SONAR SETTINGS
#===============================================================================

# Speed of sound in water (1300 to 1600)
sound_speed: 1481

# Sonar range in meters (15, 25, 37, 50, 75, 100, 150, 200, 250)
range: 100

# Sonar constant gain (-60 to 60)
const_gain: 0.0

# Sonar linear gain (0 to 3.5)
linear_gain: 0.2

# Sonar log gain (0 to 60)
log_gain: 30.0

#===============================================================================
#                              3D SIDESCAN SETTINGS
#===============================================================================

# Number of angles (1, 2, 3, 4)
angles: 3

# Amount of smoothing (0, 2, 3, 5, 10, 15, 20, 25, 30, 40, 50)
smoothing: 15

# Minimum energy threshold in dB (-150 to 0)
threshold: -110

# Solution tolerance (0.001 to 0.999)
tolerance: 0.07

#===============================================================================
#                              BATHYMETRY SETTINGS
#===============================================================================

# Point rejection minimum depth (-1 to 200)
min_depth: 200

# Point rejection maximum depth (0 to 200)
max_depth: 100

# swath rejection (0 to 20)
swath: 0

# Bin count (3 to 1440)
bin_count: 1440

# Bin width (0.05 to 2)
bin_width: 0.15

# Bottom track number of cells (3 to 256)
bottom_track_cells: 200

# Bottom track cell width in meters (0.1 to 10)
bottom_track_width: 1

# Bottom track cell height in meters (0.1 to 10)
bottom_track_height: 1

# Bottom track cell height as percentage of depth (0 to 25)
bottom_track_height_percent: 5

# Bottom track alpha (0.01 to 0.99)
bottom_track_alpha: 0.4

#===============================================================================
#                               TRANSMIT SETTINGS
#===============================================================================

# Pulse type  (none, nb10, nb15, nb25, nb50, bb80, bb200)
# Pulse type bb80 requires a range >= 50 and pulse type bb200 requires
# a range >= 75m
pulse_type: bb200

# Transmit power percentage (1, 2, 5, 10, 20, 50, 80, 100)
power: 100

# Beamwidth in degrees (19, 22, 30, 44, 55, 90)
beamwidth: 55

# Beam angle in degrees (-45, -30, -20. -15, -10, 0, 10, 15, 20, 30, 45)
# Note: Down is negative
angle: -10
