#===============================================================================
# Autonomous Vehicle Library
#
# PURPOSE: Configuration file for the GPS node.
#
# AUTHOR:  stkrauss
#===============================================================================

# Serial port settings ---------------------------------------------------------
serial:

    # Serial port name the device is connected to
    port_name: "/dev/gps"

    # Serial baud rate in bits per second
    baudrate: 9600

    # Serial read timeout in milliseconds
    read_timeout: 0
