#===============================================================================
# Autonomous Vehicle Library
#
# PURPOSE: Configuration file for the Sonardyne SprintNav node.
#===============================================================================
# LNAVUTC data output rate and logging (1Hz to 100Hz)
output_rate: 20
log_rate: 20
# TCP port settings ---------------------------------------------------------
tcp:

    # TCP port address the device is connected to
    address: "192.168.0.1"

    # TCP socket port  
    port: 4000

    # TCP read timeout in milliseconds
    read_timeout: 0

    # TCP time before retrying connection in seconds
    reconnect: 5
