#===============================================================================
# Autonomous Vehicle Library
#
# PURPOSE: Configuration file for the tecnadyne thruster node.
#===============================================================================
# Time for a single feedback/command cycle for all actuators (s)
feedback_duration: 0.3 

# TCP port settings ---------------------------------------------------------
tcp:

    # TCP address the device is connected to
    address: "192.168.0.6"

    # TCP socket port
    port: 4001

    # TCP read timeout in milliseconds
    read_timeout: 0

    # TCP time before retrying connection in seconds
    reconnect: 5

# Motor message input rate (Hz). Motor messages must be received faster than
# this, or they will return to their home positions. If they are received at
# this exact rate, there may be intermittent unintended timeouts.
motor_input_rate: 1

motor:

    # Count of poles within the motor. See Spec sheet
    pole_pair_count: 7 

    # Flag for motor controllers that support reverse
    reversible: true 

    # PWM values for maximum and neutral/zero speed in ms
    max_rpm: 800 

