#===============================================================================
# Autonomous Vehicle Library
#
# PURPOSE: Configuration file for the 2g actuator node.
#===============================================================================
# TCP port settings ---------------------------------------------------------
tcp:

    # TCP address the device is connected to
    address: "192.168.0.6"

    # TCP socket port
    port: 4003

    # TCP read timeout in milliseconds
    read_timeout: 0

    # TCP time before retrying connection in seconds
    reconnect: 5

# Actuator count
twog_act_count: 4

# Time for a single feedback/command cycle for all actuators (s)
twog_feedback_duration: 0.1 

# Fin settings -----------------------------------------------------------------

# Fins message input rate (Hz). Fins messages must be received faster than this,
# or they will return to their home positions. If they are received at this
# exact rate, there may be intermittent unintended timeouts.
fins_input_rate: 1

# Settings for each fin
# - channel: RS485 channel that the fin is connected to
# - home_angle: home/default angle for the fin in degrees
# - max_angle: maximum angle magnitude for the fin controller in degrees
# - abs_max_angle: maximum angle magnitude for any commands in degrees

top_starboard:
    channel: 1
    home_angle: -10.0
    max_angle: 25.0
    abs_max_angle: 75.0

bottom_starboard:
    channel: 2
    home_angle: -10.0
    max_angle: 25.0
    abs_max_angle: 75.0

bottom_port:
    channel: 3
    home_angle: 10.0
    max_angle: 25.0
    abs_max_angle: 75.0

top_port:
    channel: 4
    home_angle: 10.0
    max_angle: 25.0
    abs_max_angle: 75.0
