#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the whoi micromodem node.
#===============================================================================

# Generic modem settings -------------------------------------------------------

# Frequenvy band [BND]
# 1 = band A
# 2 = band B
# 3 = band C
frequency_band: 3

# Serial port 1 Configuration
serial_port1:
  bitrate: 230400
  task: 1
  parse_gps: 0
  show_gps: 1
  set_clk_GPS: 0
  crc32: 0

# Serial port 2 Configuration
serial_port2:
  bitrate: 9600
  task: 1
  parse_gps: 1
  show_gps: 0
  set_clk_GPS: 1
  crc32: 0

# Data uplink request timeout duraiton [DTO] (seconds, 1-30)
data_request_timeout: 5

# Set clock from GPS [SCG] (true or false)
set_clock_from_gps: true

# Show GPS messages on main serial port [SGP] (true or false)
show_gps_messages: true

# Synchronous transmission of packets [SNV] (true or false)
synchronous_transmission: true

# Display time of arrival messages for every packet [TOA] (true or false)
display_toa_messages: true

# Analog gain [AGN] (0-255, 50 is 6dB, 250 is 30 dB, etc)
analog_gain: 250

# LBL transponder settings -----------------------------------------------------

# Interrogation channel to use for LBL transponder pings (1-4)
lbl_channel: 1

# Duration in milliseconds to wait for LBL transponder responses
lbl_timeout: 1000

# Detection threshold for nav detector (used for LBL transponders). Exact
# meaning unclear from documentation
detection_threshold: 120

# Serial port settings ---------------------------------------------------------
serial:

    # Serial port name the device is connected to
    port_name: "/dev/whoi"

    # Serial baud rate in bits per second
    baudrate: 230400

    # Serial read timeout in milliseconds
    read_timeout: 0
