#===============================================================================
# Autonomous Vehicle Library
#
# PURPOSE: Configuration file for the xeos iridium strobe node.
#===============================================================================

# Serial port settings ---------------------------------------------------------
serial:

    # Serial port name the device is connected to
    port_name: "/dev/ttyS4"

    # Serial baud rate in bits per second
    baudrate: 57600

    # Serial read timeout in milliseconds
    read_timeout: 0

# Time (s) that node will defer SBD and GPS timers -----------------------------
defer_duration: 600.0
