#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the TCP socket test node.
#===============================================================================

# TCP socket settings ----------------------------------------------------------

# Address and port of TCP server to connect to
address: 127.0.0.1
port: 1338

# Period in seconds of message writing to server
period: 3

# Read timeout in milliseconds
read_timeout: 5000
