#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the UDP socket test node.
#===============================================================================

send_address: 0.0.0.0
send_port: 1500
listen_port: 1501
period: 3
