#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the dive guidance node.
#===============================================================================

# After the dive acceleration period ends, the vehicle is given time to reach
# the minimum depth threshold. If the vehicle does not pass the min depth
# threshold by the time the depth threshold duration passes, the node will
# throw a safety abort. This is to prevent the vehicle from continuing its
# mission in the case that it fails to dive, and the user can retry with
# different dive parameters
min_depth_threshold: 0.5 # m
depth_threshold_duration: 5.0 # sec

# Guidance node settings -------------------------------------------------------

# Action iteration rate in Hz
iteration_rate: 10.0
