#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the loiter guidance node.
#===============================================================================

# If the vehicle is outside of this radius, it will attempt to navigate back
# to the inner radius at maximum RPM
outer_radius: 20.0

# Radius around the loiter center point within which the vehicle is considered
# to be at the point
inner_radius: 10.0

# Maximum RPM that the vehicle will use to reach the inner radius
max_rpm: 1500

# Guidance node settings -------------------------------------------------------

# Action iteration rate in Hz
iteration_rate: 10.0

# Nav message input rate in Hz
input_rate: 0.5
