#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the primitive guidance node.
#===============================================================================

# Guidance node settings -------------------------------------------------------

# Action iteration rate in Hz
iteration_rate: 10.0
