#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the waypoint guidance node.
#===============================================================================

# Turn radius in meters
turn_radius: 15.0

# Guidance node settings -------------------------------------------------------

# Action iteration rate in Hz
iteration_rate: 10.0

# Nav message input rate in Hz
input_rate: 0.5
