#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the yaw zigzag guidance node.
#===============================================================================

# Guidance node settings -------------------------------------------------------

# Action iteration rate in Hz
iteration_rate: 10.0

# Nav message input rate in Hz
input_rate: 0.5
