#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the line control node.
#===============================================================================

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Line PID gains and limits
# - Input:             Measured cross track error in meters.
# - Setpoint:          Desired cross-track error in meters.
# - Output:            Yaw angle adjustment to point toward line in radians.
# - Output limits:     Min and max yaw angle adjustment in degrees.
# - Integral limits:   Min and max yaw angle adjustment from integral term in
#                      degrees.
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
pid:
    kp: 0.1745
    ki: 0.0
    kd: 0.0
    output_min: -90.0
    output_max:  90.0
    integral_output_min: -15.0
    integral_output_max:  15.0

# Controller iteration rate in Hz
iteration_rate: 10.0

# Minimum input message rates in Hz. Input messages must be received at a
# rate greater than this rate. Otherwise, the node will detect a fault and
# terminate
min_input_rate: 1.0

# Minimum setpoint message rates in Hz. Setpoint messages must be received
# at a rate greater than this rate. Otherwise, control node iteration will be
# stopped until a new setpoint is received
min_setpoint_rate: 1.0
