#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the PID attitude control node. Assumes a
#              plus-shaped set of fins with angle sign convention following
#              the right hand rule with axis of rotation pointing from the
#              middle of the vehicle to the outside of the vehicle.
#
#              Rudder angle is achieved using the top and bottom fins such that
#              a positive rudder angle induces a positive body frame z-axis
#              moment and therefore a right turn.
#
#              Elevator angle is achieved using the port and starboard fins such
#              that a positive elevator angle induces a positive body frame
#              y-axis moment and therefore a pitch nose up.
#===============================================================================

# Enable or disable fin mixing, which rotates fin angles to compensate for roll.
# For example, if roll is 90 degrees, the rudders are now elevators, and the
# control node will treat them as such. Without fin mixing, control will not
# work correctly if roll is significant.
enable_fin_mixing: true

# Default elevator and rudder angles in degrees for when there are no setpoints
# affecting the corresponding fins
default_elevator_angle: 20.0
default_rudder_angle: 0.0

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Roll PID gains and limits
# - Input:             Measured roll angle in radians.
# - Setpoint:          Desired roll angle in radians.
# - Output:            Fin angle adjustment in radians.
# - Output limits:     Min and max fin angle adjustment in degrees.
# - Integral limits:   Min and max fin angle adjustment from integral term in
#                      degrees.
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
roll_pid:
    kp: 1.0
    ki: 0.0
    kd: 0.0
    output_min: -20.0
    output_max:  20.0
    integral_output_min: -5.0
    integral_output_max:  5.0

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Pitch PID gains and limits
# - Input:             Measured pitch angle in radians.
# - Setpoint:          Desired pitch angle in radians.
# - Output:            Elevator angle in radians.
# - Output limits:     Min and max elevator angle in degrees.
# - Integral limits:   Min and max elevator angle from integral term in degrees.
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
pitch_pid:
    kp: 4.5
    ki: 0.2
    kd: 7.0
    output_min: -20.0
    output_max:  20.0
    integral_output_min: -5.0
    integral_output_max:  5.0

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Yaw PID gains and limits
# - Input:             Measured yaw angle in radians.
# - Setpoint:          Desired yaw angle in radians.
# - Output:            Rudder angle in radians.
# - Output limits:     Min and max rudder angle in degrees.
# - Integral limits:   Min and max rudder angle from integral term in degrees.
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
yaw_pid:
    kp: 3.0
    ki: 0.005
    kd: 3.0
    output_min: -20.0
    output_max:  20.0
    integral_output_min: -5.0
    integral_output_max:  5.0

# Controller iteration rate in Hz
iteration_rate: 10.0

# Minimum input message rates in Hz. Input messages must be received at a
# rate greater than this rate. Otherwise, the node will detect a fault and
# terminate
min_input_rate: 1.0

# Minimum setpoint message rates in Hz. Setpoint messages must be received
# at a rate greater than this rate. Otherwise, control node iteration will be
# stopped until a new setpoint is received
min_setpoint_rate: 1.0
