#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the depth control node.
#
#              DIVE gains rev 4-2
#===============================================================================

# Number of depth measurements to be used in the moving average filter
moving_avg_size: 1

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Depth PID gains and limits
# - Input:             Measured depth in meters.
# - Setpoint:          Desired depth in meters.
# - Output:            Pitch setpoint in radians.
# - Output limits:     Min and max pitch setpoint in degrees.
# - Integral limits:   Min and max pitch setpoint from integral term in degrees.
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
pid:
    kp: -0.074 # Positive depth error should induce negative pitch
    ki: -0.0011
    kd:  0.0
    output_min: -20.0
    output_max:  20.0
    integral_output_min: -5.0
    integral_output_max:  5.0

# Controller iteration rate in Hz
iteration_rate: 10.0

# Minimum input message rates in Hz. Input messages must be received at a
# rate greater than this rate. Otherwise, the node will detect a fault and
# terminate
min_input_rate: 1.0

# Minimum setpoint message rates in Hz. Setpoint messages must be received
# at a rate greater than this rate. Otherwise, control node iteration will be
# stopped until a new setpoint is received
min_setpoint_rate: 1.0
