#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the RPM control node.
#===============================================================================

# Motor throttle percent deadband. This is the throttle percent at which the
# motor starts spinning. The RPM PID will start at this value so that it doesn't
# have to build up past the deadband
deadband: 30.0

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# RPM PID gains and limits
# - Input:             Measured speed in m/s.
# - Setpoint:          Desired speed in m/s.
# - Output:            Motor throttle percentage.
# - Output limits:     Min and max throttle percentage.
# - Integral limits:   Min and max throttle percentage from integral term.
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
pid:
    kp: 0.0
    ki: 0.3
    kd: 0.0
    output_min: 0.0
    output_max: 100.0
    integral_output_min: 0.0
    integral_output_max: 100.0

# Controller iteration rate in Hz
iteration_rate: 10.0

# Minimum input message rates in Hz. Input messages must be received at a
# rate greater than this rate. Otherwise, the node will detect a fault and
# terminate
min_input_rate: 1.0

# Minimum setpoint message rates in Hz. Setpoint messages must be received
# at a rate greater than this rate. Otherwise, control node iteration will be
# stopped until a new setpoint is received
min_setpoint_rate: 1.0
