#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the gyrocompass node.
#===============================================================================

# Minimum number of GPS sats to be considered a lock
min_sats: 9

# Initial state covariance matrix
P0:   [ 1.0e-01, 1.0e-01, 1.0e-01,   # g_b_i (m/s^2)^2
        3.0e-04, 3.0e-04, 1.0e+01, ] # C_n0_i (rad)^2

# Process noise covariance matrix
Q: [ 1.0e-04, 1.0e-04, 1.0e-04 ] # g_b_i state noise (m/s^2)^2

# GPS measurement noise covariance matrix
R_gps: [ 1.5398e-13, 1.5398e-13, 100.0, 0.1, 0.1 ] # (rad, rad, m, m/s, m/s)^2

# GPS lever arm
l_bS_b_gps: [ -1.2934, 0.0, -0.1926 ] # m
