{

"version": "1.0.0",
"command":
    [

        {
            "name": "PING",
            "bsd": true,
            "parameters": [ ]
        },

        {
            "name": "SPLIT LOGS",
            "bsd": false,
            "parameters": [ ]
        },

        {
            "name": "BROADCAST ABORT",
            "bsd": false,
            "parameters":
                [
                    {"name": "TARGET ID", "type": "int", "value": 0, "req": true, "bsd": false, "units": ""}
                ]
        },

        {
            "name": "HEARTBEAT",
            "bsd": true,
            "parameters":
                [
                    {"name": "RATE", "type": "enum", "value": 0, "req": true, "bsd": true, "units": "", "enum": ["DISABLE", "0.01 Hz", "0.1 Hz", "1 Hz", "10 Hz"]}
                ]
        },

        {
            "name": "DEVICE",
            "bsd": true,
            "parameters":
                [
                    {"name": "NAME", "type": "string", "req": true, "bsd": true, "value": null, "units": ""},
                    {"name": "RATE", "type": "double", "req": true, "bsd": true, "value": null, "units": "Hz"}
                ]
        },

        {
            "name": "RESET SAFETY",
            "bsd": true,
            "parameters": [ ]
        },

        {
            "name": "RESET NAV",
            "bsd": false,
            "parameters":
                [
                    {"name": "INIT MODE", "type": "enum", "req": true, "bsd": false, "value": "GPS", "units": "", "enum": ["GPS", "DVL", "MAG", "ZERO"]}
                ]
        },

        {
            "name": "DEPTH LIMIT",
            "bsd": false,
            "parameters":
                [
                    {"name": "MAX", "type": "double", "req": true, "bsd": false, "value": null, "units": "m"}
                ]
        },

        {
            "name": "FSD MODE",
            "bsd": true,
            "parameters":
                [
                    {"name": "DURATION", "type": "double", "req": false, "bsd": false, "value": null, "units": "sec"}
                ]
        },

        {
            "name": "BSD MODE",
            "bsd": false,
            "parameters":
            [
                {"name": "DURATION", "type": "double", "req": false, "bsd": false, "value": null, "units": "sec"}
            ]
        },

        {
            "name": "MANUAL MODE",
            "bsd": false,
            "parameters":
            [
                {"name": "DURATION", "type": "double", "req": false, "bsd": false, "value": null, "units": "sec"}
            ]
        },

        {
            "name": "JOY",
            "bsd": false,
            "parameters":
            [
                {"name": "LEFT X",  "type": "double", "req": true, "bsd": false, "value": 0, "units": "%"},
                {"name": "LEFT Y",  "type": "double", "req": true, "bsd": false, "value": 0, "units": "%"},
                {"name": "RIGHT X", "type": "double", "req": true, "bsd": false, "value": 0, "units": "%"},
                {"name": "RIGHT Y", "type": "double", "req": true, "bsd": false, "value": 0, "units": "%"}
            ]
        },

        {
            "name": "MISSION",
            "bsd": true,
            "parameters":
                [
                    {"name": "COMMAND", "type": "enum", "req": true, "bsd": true, "value": 0, "units": "", "enum": ["START", "PAUSE", "STOP", "ADVANCE", "CLEAR", "READ"]}
                ]
        },

        {
            "name": "GEOFENCE",
            "bsd": false,
            "parameters":
                [
                    {"name": "LATS", "type": "double vector", "req": false, "bsd": false, "value": null, "units": "deg"},
                    {"name": "LONS", "type": "double vector", "req": false, "bsd": false, "value": null, "units": "deg"}
                ]
        },

        {
            "name": "STROBE",
            "bsd": true,
            "parameters":
                [
                    {"name": "ENABLE", "type": "bool", "req": true, "bsd": true, "value": 0, "units": ""}
                ]
        },

        {
            "name": "TARE PRESSURE",
            "bsd": true,
            "parameters": [ ]
        },

        {
            "name": "SONAR",
            "bsd": true,
            "parameters":
                [
                    {"name": "COMMAND", "type": "enum", "value": 0, "req": true, "bsd": true, "units": "", "enum": ["ENABLE", "START RECORDING", "STOP RECORDING", "DISABLE"]}
                ]
        },

        {
            "name": "SIMULATION",
            "bsd": false,
            "parameters":
                [
                    {"name": "COMMAND", "type": "enum", "value": 0, "req": true, "bsd": false, "units": "", "enum": ["1X", "2X", "5X", "10X"]}
                ]
        },

        {
            "name": "MAG CAL",
            "bsd": false,
            "parameters":
                [
                    {"name": "COMMAND", "type": "enum", "value": 0, "req": true, "bsd": false, "units": "", "enum": ["START", "FINISH"]}
                ]
        },

        {
            "name": "ACOMMS SET TDMA",
            "bsd": false,
            "parameters":
            [
                {"name": "TOTAL TDMA TIME", "type": "double", "req": true,  "bsd": false, "value": null, "units": "sec"},
                {"name": "TDMA OFFSET",     "type": "double", "req": true,  "bsd": false, "value": null, "units": "sec"},
                {"name": "TDMA DURATION",   "type": "double", "req": true,  "bsd": false, "value": null, "units": "sec"},
                {"name": "TX MODULATION",   "type": "int",    "req": false, "bsd": false, "value": null, "units": ""}
            ]
        },

        {
            "name": "ACOMMS GET TDMA",
            "bsd": true,
            "parameters": [ ]
        },

        {
            "name": "ACOMMS LBL",
            "bsd": true,
            "parameters":
                [
                    {"name": "ENABLE", "type": "bool", "req": true, "bsd": false, "value": 0, "units": ""}
                ]
        },

        {
            "name": "ACOMMS HEARTBEAT",
            "bsd": true,
            "parameters":
                [
                    {"name": "ENABLE", "type": "bool", "req": true, "bsd": false, "value": 0, "units": ""}
                ]
        }

    ]

}
