#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the actuators node. Fin angles are in
#              degrees and relative to the fin's local axis. Follows the right
#              hand rule by pointing the thumb along the fin axis away from the
#              vehicle, and the fingers curl along the positive angle direction.
#===============================================================================

# PWM message output rate (Hz). PWM messages will be published at this rate.
# This rate should be high enough that the Pololu Maestro board does not time
# out. Refer to the maestro_pwm_node config file
pwm_output_rate: 2

# Calibration file path that calibration parameters will be loaded from. If
# there is no calibration file here, default values will be used.
calibration_filepath: /var/avl_calibration/front_actuators_node_690.calib

# Fin settings -----------------------------------------------------------------

# Fins message input rate (Hz). Fins messages must be received faster than this,
# or they will return to their home positions. If they are received at this
# exact rate, there may be intermittent unintended timeouts.
fins_input_rate: 1

# Settings for each fin
# - channel: Maestro PWM controller channel that the fin is connected to
# - home_angle: home/default angle for the fin in degrees
# - min_angle: maximum (positive) angle for the fin in degrees
# - max_angle: minimum (negative) angle for the fin in degrees

port:
    channel: 3
    home_angle: 0.0
    min_angle: -20.0
    max_angle: 20.0

starboard:
    channel: 1
    home_angle: 0.0
    min_angle: -20.0
    max_angle: 20.0

top:
    channel: 0
    home_angle: 0.0
    min_angle: -20.0
    max_angle: 20.0

bottom:
    channel: 2
    home_angle: 0.0
    min_angle: -20.0
    max_angle: 20.0

# Motor settings -----------------------------------------------------------------

# Motor message input rate (Hz). Motor messages must be received faster than
# this, or they will return to their home positions. If they are received at
# this exact rate, there may be intermittent unintended timeouts.
motor_input_rate: 1

motor:

    # PWM channel that the motor controller is connected to
    channel: 5

    # Flag for motor controllers that support reverse
    reversible: false

    # PWM values for maximum and neutral/zero speed in ms
    max_speed_pwm: 2.0
    neutral_pwm: 1.0

    # Calibration pause duration. The motor will be given a zero throttle command
    # on node init for this duration before it responds to motor commands so that a
    # motor controller becomes armed
    calibration_duration: 3.0
