{

"version": "1.0.0",
"mission":
    [
        {
            "name": "PRIMITIVE",
            "bsd": true,
            "parameters":
                [
                    {"name": "DURATION",     "type": "double", "req": true,  "bsd": true, "value": null, "units": "sec"},
                    {"name": "ROLL",         "type": "double", "req": false, "bsd": true, "value": null, "units": "deg"},
                    {"name": "PITCH",        "type": "double", "req": false, "bsd": true, "value": null, "units": "deg"},
                    {"name": "YAW",          "type": "double", "req": false, "bsd": true, "value": null, "units": "deg"},
                    {"name": "GROUND SPEED", "type": "double", "req": false, "bsd": true, "value": null, "units": "m/s"},
                    {"name": "WATER SPEED",  "type": "double", "req": false, "bsd": true, "value": null, "units": "m/s"},
                    {"name": "RPM",          "type": "double", "req": false, "bsd": true, "value": null, "units": "RPM"},
                    {"name": "DEPTH",        "type": "double", "req": false, "bsd": true, "value": null, "units": "m"},
                    {"name": "HEIGHT",       "type": "double", "req": false, "bsd": true, "value": null, "units": "m"},
                    {"name": "RUDDER",       "type": "double", "req": false, "bsd": true, "value": null, "units": "deg"},
                    {"name": "ELEVATOR",     "type": "double", "req": false, "bsd": true, "value": null, "units": "deg"},
                    {"name": "FRONT RUDDER",       "type": "double", "req": false, "bsd": true, "value": null, "units": "deg"},
                    {"name": "FRONT ELEVATOR",     "type": "double", "req": false, "bsd": true, "value": null, "units": "deg"}
                ],
            "conflicts":
                [
                    ["GROUND SPEED", "WATER SPEED", "RPM"],
                    ["PITCH", "DEPTH", "HEIGHT", "ELEVATOR"],
                    ["YAW", "RUDDER"]
                ]
        },

        {
            "name": "DIVE",
            "bsd": true,
            "parameters":
                [
                    {"name": "DURATION",     "type": "double", "req": true,  "bsd": true, "value": null, "units": "sec"},
                    {"name": "YAW",          "type": "double", "req": false, "bsd": true, "value": null, "units": "deg"}
                ]
        },

        {
            "name": "WAYPOINT",
            "bsd": true,
            "parameters":
                [
                    {"name": "DURATION",     "type": "double", "req": true,  "bsd": true, "value": null, "units": "sec"},
                    {"name": "LAT",          "type": "double", "req": true,  "bsd": true, "value": null, "units": "deg"},
                    {"name": "LON",          "type": "double", "req": true,  "bsd": true, "value": null, "units": "deg"},
                    {"name": "ENTRY YAW",    "type": "double", "req": false, "bsd": true, "value": null, "units": "deg"},
                    {"name": "GROUND SPEED", "type": "double", "req": false, "bsd": true, "value": null, "units": "m/s"},
                    {"name": "WATER SPEED",  "type": "double", "req": false, "bsd": true, "value": null, "units": "m/s"},
                    {"name": "RPM",          "type": "double", "req": false, "bsd": true, "value": null, "units": "RPM"},
                    {"name": "DEPTH",        "type": "double", "req": false, "bsd": true, "value": null, "units": "m"},
                    {"name": "HEIGHT",       "type": "double", "req": false, "bsd": true, "value": null, "units": "m"}
                ],
            "conflicts":
                [
                    ["GROUND SPEED", "WATER SPEED", "RPM"],
                    ["DEPTH", "HEIGHT"]
                ]
        },

        {
            "name": "LINE",
            "bsd": true,
            "parameters":
                [
                    {"name": "DURATION",     "type": "double", "req": true,  "bsd": true, "value": null, "units": "sec"},
                    {"name": "DUBINS",       "type": "bool",   "req": true,  "bsd": true, "value": true, "units": ""},
                    {"name": "START LAT",    "type": "double", "req": true,  "bsd": true, "value": null, "units": "deg"},
                    {"name": "START LON",    "type": "double", "req": true,  "bsd": true, "value": null, "units": "deg"},
                    {"name": "END LAT",      "type": "double", "req": true,  "bsd": true, "value": null, "units": "deg"},
                    {"name": "END LON",      "type": "double", "req": true,  "bsd": true, "value": null, "units": "deg"},
                    {"name": "GROUND SPEED", "type": "double", "req": false, "bsd": true, "value": null, "units": "m/s"},
                    {"name": "WATER SPEED",  "type": "double", "req": false, "bsd": true, "value": null, "units": "m/s"},
                    {"name": "RPM",          "type": "double", "req": false, "bsd": true, "value": null, "units": "RPM"},
                    {"name": "DEPTH",        "type": "double", "req": false, "bsd": true, "value": null, "units": "m"},
                    {"name": "HEIGHT",       "type": "double", "req": false, "bsd": true, "value": null, "units": "m"}

                ],
            "conflicts":
                [
                    ["GROUND SPEED", "WATER SPEED", "RPM"],
                    ["DEPTH", "HEIGHT"]
                ]
        },

        {
            "name": "LOITER",
            "bsd": true,
            "parameters":
                [
                    {"name": "DURATION",     "type": "double", "req": true, "bsd": true, "value": null, "units": "sec"},
                    {"name": "LAT",          "type": "double", "req": true, "bsd": true, "value": null, "units": "deg"},
                    {"name": "LON",          "type": "double", "req": true, "bsd": true, "value": null, "units": "deg"}
                ]
        },

        {
            "name": "SPIRAL",
            "bsd": true,
            "parameters":
                [
                    {"name": "DURATION",     "type": "double", "req": true,  "bsd": true, "value": null, "units": "sec"},
                    {"name": "RADIUS",       "type": "double", "req": true,  "bsd": true, "value": null, "units": "m"},
                    {"name": "GOAL DEPTH",   "type": "double", "req": true,  "bsd": true, "value": null, "units": "m"},
                    {"name": "PITCH",        "type": "double", "req": true,  "bsd": true, "value": null, "units": "deg"},
                    {"name": "GROUND SPEED", "type": "double", "req": false, "bsd": true, "value": null, "units": "m/s"},
                    {"name": "WATER SPEED",  "type": "double", "req": false, "bsd": true, "value": null, "units": "m/s"},
                    {"name": "RPM",          "type": "double", "req": false, "bsd": true, "value": null, "units": "RPM"}
                ],
            "conflicts":
                [
                    ["GROUND SPEED", "WATER SPEED", "RPM"]
                ]
        },

        {
            "name": "FIGURE_EIGHT",
            "bsd": false,
            "parameters":
                [
                    {"name": "DURATION",     "type": "double", "req": true,  "bsd": true, "value": null, "units": "sec"},
                    {"name": "HEADING",      "type": "double", "req": true,  "bsd": true, "value": 0.0,  "units": "deg"},
                    {"name": "RADIUS",       "type": "double", "req": true,  "bsd": true, "value": 20.0, "units": "m"},
                    {"name": "GROUND SPEED", "type": "double", "req": false, "bsd": true, "value": null, "units": "m/s"},
                    {"name": "WATER SPEED",  "type": "double", "req": false, "bsd": true, "value": null, "units": "m/s"},
                    {"name": "RPM",          "type": "double", "req": false, "bsd": true, "value": null, "units": "RPM"},
                    {"name": "DEPTH",        "type": "double", "req": false, "bsd": true, "value": null, "units": "m"},
                    {"name": "HEIGHT",       "type": "double", "req": false, "bsd": true, "value": null, "units": "m"}
                ],
            "conflicts":
                [
                    ["GROUND SPEED", "WATER SPEED", "RPM"],
                    ["DEPTH", "HEIGHT"]
                ]
        },

        {
            "name": "YAW_ZIGZAG",
            "bsd": false,
            "parameters":
                [
                    {"name": "DURATION",     "type": "double", "req": true,  "bsd": true, "value": null, "units": "sec"},
                    {"name": "CENTER YAW",   "type": "double", "req": true,  "bsd": true, "value": null, "units": "deg"},
                    {"name": "OFFSET",       "type": "double", "req": true,  "bsd": true, "value": null, "units": "deg"},
                    {"name": "RUDDER ANGLE", "type": "double", "req": true,  "bsd": true, "value": null, "units": "deg"},
                    {"name": "GROUND SPEED", "type": "double", "req": false, "bsd": true, "value": null, "units": "m/s"},
                    {"name": "WATER SPEED",  "type": "double", "req": false, "bsd": true, "value": null, "units": "m/s"},
                    {"name": "RPM",          "type": "double", "req": false, "bsd": true, "value": null, "units": "RPM"},
                    {"name": "DEPTH",        "type": "double", "req": false, "bsd": true, "value": null, "units": "m"},
                    {"name": "HEIGHT",       "type": "double", "req": false, "bsd": true, "value": null, "units": "m"}
                ],
            "conflicts":
                [
                    ["GROUND SPEED", "WATER SPEED", "RPM"],
                    ["DEPTH", "HEIGHT"]
                ]
        },

        {
            "name": "PITCH_ZIGZAG",
            "bsd": false,
            "parameters":
                [
                    {"name": "DURATION",       "type": "double", "req": true,  "bsd": true, "value": null, "units": "sec"},
                    {"name": "CENTER PITCH",   "type": "double", "req": true,  "bsd": true, "value": null, "units": "deg"},
                    {"name": "OFFSET",         "type": "double", "req": true,  "bsd": true, "value": null, "units": "deg"},
                    {"name": "ELEVATOR ANGLE", "type": "double", "req": true,  "bsd": true, "value": null, "units": "deg"},
                    {"name": "GROUND SPEED",   "type": "double", "req": false, "bsd": true, "value": null, "units": "m/s"},
                    {"name": "WATER SPEED",    "type": "double", "req": false, "bsd": true, "value": null, "units": "m/s"},
                    {"name": "RPM",            "type": "double", "req": false, "bsd": true, "value": null, "units": "RPM"},
                    {"name": "YAW",            "type": "double", "req": false, "bsd": true, "value": null, "units": "deg"}
                ],
            "conflicts":
                [
                    ["GROUND SPEED", "WATER SPEED", "RPM"]
                ]
        },

        {
            "name": "COMMAND",
            "bsd": true,
            "parameters":
                [
                    {"name": "COMMAND NAME", "type": "command", "req": true, "bsd": true, "value": null, "units": ""}
                ]
        }

    ]

}
