#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the height control node. In the event of
#              NaN height mesurements, the previous depth output will be used.
#===============================================================================

# Depth limit in meters. If the height causes the vehicle to need to go below
# this depth, it will stay at this depth instead
max_depth: 50.0

# Maximum of consecutive NaN height measurements. If this number is exceeded
# while control is active, the node will shut down. A value of 0 disbles the
# check and allows operation indefinitely with NaN height measurements.
max_num_nans: 0

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Height PID gains and limits
# - Input:             Measured height in meters.
# - Setpoint:          Desired height in meters.
# - Output:            Depth setpoint in meters.
# - Output limits:     Min and max depth setpoint in meters.
# - Integral limits:   Min and max depth setpoint from integral term in meters.
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
pid:
    kp: 1.0
    ki: 0.0
    kd: 0.0
    output_min: -10.0
    output_max: 10.0
    integral_output_min: 0.0
    integral_output_max: 0.0

# Controller iteration rate in Hz
iteration_rate: 10.0

# Minimum input message rates in Hz. Input messages must be received at a
# rate greater than this rate. Otherwise, the node will detect a fault and
# terminate
min_input_rate: 1.0

# Minimum setpoint message rates in Hz. Setpoint messages must be received
# at a rate greater than this rate. Otherwise, control node iteration will be
# stopped until a new setpoint is received
min_setpoint_rate: 1.0
