#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the acoustic channel node.
#===============================================================================

# Enables or disables the automatic broadcasting of heartbeat packets
broadcast_heartbeats: true

# Enables or disabled LBL transponder pings
enable_lbl_pings: false

# Default acoustic transmit modulation
# ----------------------------------------
# | Num | Modulation Type    | Max Bytes |
# ----------------------------------------
# |  0  | Conv(2,1,9),FH-FSK | 32        |
# |  1  | BCH (128:8),QPSK   | 64        | <-- Reccomended low BPS
# |  2  | DSSS-15,QPSK       | 64        |
# |  3  | DSS-7,QPSK         | 256       |
# |  4  | BCH(64:10), QPSK   | 256       | <-- Reccomended medium BPS
# |  5  | Hamming(14:9),QPSK | 256       | <-- Reccomended high BPS
# |  6  | DSS-15,QPSK        | 32        |
# ----------------------------------------
default_tx_modulation: 1

# TDMA settings ----------------------------------------------------------------

# Total number of seconds in the TDMA cycle
total_tdma_time: 20.0

# Number of seconds from the start of the TDMA cycle after which it becomes
# this modem's turn to transmit
tdma_offset: 0.0

# Number of seconds that this modem has to transmit during its turn in the cycle
tdma_duration: 10.0
