#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the ethernet channel node.
#===============================================================================

# Enables or disables the automatic broadcasting of heartbeat packets
broadcast_heartbeats: true

# ------------------------------------------------------------------------------
# Front Seat Driver (FSD) settings
fsd:

  # UDP multicast address and port to transmit and receive packets on if UDP
  # protocol is selected
  udp_address: 224.0.0.138
  udp_tx_port: 1338
  udp_rx_port: 1338

  # TCP port to transmit and receive packets on if TCP protocol is selected
  tcp_port: 1338

# ------------------------------------------------------------------------------
# Back Seat Driver (BSD) settings
bsd:

  # UDP multicast address and port to transmit and receive packets on if UDP
  # protocol is selected
  udp_address: 224.0.0.150
  udp_tx_port: 2020
  udp_rx_port: 2021

  # TCP port to transmit and receive packets on if TCP protocol is selected
  tcp_port: 2020

  # Maximum allowable time between communications with the BSD computer. A value
  # of 0 disables the BSD timeout
  timer_duration: 0
