#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the Iridium channel node.
#===============================================================================

# Enables or disables the automatic broadcasting of heartbeat packets
broadcast_heartbeats: true

# Rate in Hz that heartbeat packets will be broadcast when Iridium signal is
# available
heartbeat_broadcast_rate: 0.0033 # Every 5 mins

# Minimum Iridium signal strength for attempting to broadcast data
min_signal_strengh: 2
