#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the status node
#===============================================================================

# Default heartbeat message output rate in Hz. Can be changed by a command
default_heartbeat_rate: 1.0

# Rate in Hz that messages must be received on status topics before the topic's
# values are reset to NAN
status_input_rate: 0.1
