#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the logging control node.
#===============================================================================

# If enabled, a new log folder will be created when mission status transitions
# to ACTIVE or to INACTIVE
split_on_mission_transition: false
