#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the mission manager node.
#===============================================================================

# Mode that the vehicle starts in
#    0 = UNKNOWN
#    1 = DISABLED
#    2 = FSD
#    3 = BSD
#    4 = MANUAL
starting_mode: 2

# Maximum allowable FSD and BSD mission queue durations in seconds
max_fsd_queue_duration: 1800.0
max_bsd_queue_duration: 1800.0

# List of supported action packet types
action_types: [ "COMMAND",
                "DIVE",
                "FIGURE_EIGHT",
                "LINE",
                "LOITER",
                "PITCH_ZIGZAG",
                "PRIMITIVE",
                "SPIRAL",
                "WAYPOINT",
                "YAW_ZIGZAG",
                "FOLLOW" ]
