#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the parameter node
#===============================================================================

# Parameter white lists for BSD and FSD
bsd_white_list: [/heartbeat_node/heartbeat_rate]
fsd_white_list: [/heartbeat_node/heartbeat_rate]
