#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the resource logger node.
#===============================================================================

# Rate to query and log CPU and memory info in Hz
rate: 5.0
