#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the safety node. Each monitored parameter
#              has the following configuration settings, along with specific
#              limit settings for that parameter.
#
#               - enable_rate_check: enables or disables checking message
#                 receive rate. Ensures that parameter values are received
#                 faster than the specified rate in Hz.
#
#               - enable_out_of_bounds_check: enables message bounds checking,
#                 which requires that the message does not exceed the specified
#                 bounds.
#
#               - enable_reptition_check: enables or disables checking for
#                 exactly repeated parameter values. If the exact same parameter
#                 value is received twice in a row according to the condition
#                 set in the safety node. This could indicate a broken sensor.
#
#               - rate: the minimum parameter message receive rate in Hz, used
#                 if enable_rate_check is set to true.
#
# Author:       stkrauss, tkrauss
#===============================================================================

# Satefy monitor settings ------------------------------------------------------

dvl:
    enable_rate_check: true
    enable_out_of_bounds_check: false
    enable_reptition_check: false
    rate: 1.0
    min: 1.0

height:
    enable_rate_check: false
    enable_out_of_bounds_check: true
    enable_reptition_check: false
    rate: 1.0
    min: 1.0

depth:
    enable_rate_check: true
    enable_out_of_bounds_check: true
    enable_reptition_check: false
    rate: 1.0
    max: 5.0

nav:
    enable_rate_check: false
    enable_out_of_bounds_check: true
    enable_reptition_check: false
    rate: 1.0
    min_roll: -90.0
    max_roll: 90.0
    min_pitch: -90.0
    max_pitch: 90.0
    max_vel: 10.0

voltage:
    enable_rate_check: false
    enable_out_of_bounds_check: true
    enable_reptition_check: false
    rate: 1.0
    min: 25.6
    max: 34.0
