#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the system command node.
#===============================================================================

# Manual control min and max values
max_throttle: 30.0 # percent
max_rudder_angle: 20 # degrees
