#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the comms manager node with the canards.
#===============================================================================

# If this is true, the vehicle will receive broadcasts to ID 0 (all vehicles).
# If false, they will be ignored
rx_all_broadcasts: true

# If this is true, the vehicle will receive its own broadcasts to ID 0 (all
# vehicles). If false, they will be ignored
rx_own_broadcasts: false

# File paths to the command and action definition files for packet validation
commands_path: /var/avl_config/command_definitions.config
actions_path:  /var/avl_config/action_definitions_690_canards.config
