#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the SINS node.
#===============================================================================

# Minimum number of GPS sats to be considered a lock
min_sats: 6

# Acoustic ranging whitelist. Whitelisted IDs must be an of ID ints. Comment
# this parameter out to accept all ranges
# range_whitelist: [120, 155]

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# UKF initial state covariance (P0)
P0:   [ 3.0000e-04, 3.0000e-04, 3.0000e-03,  # Att     (rad)^2
        1.6000e-05, 1.6000e-05, 1.6000e-05,  # NED Vel (m/s)^2
        1.5398e-13, 1.5398e-13, 1.0000e+00,  # Pos     (rad,rad,m)^2
        5.8761e-16, 5.8761e-16, 5.8761e-16,  # b_g     (rad/s)^2
        2.1638e-08, 2.1638e-08, 2.1638e-08 ] # b_a     (m/s^2)^2

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Process covariance (q)
cov_gyro:  1.1517e-09 # (rad/s)^2
cov_accel: 1.1117e-05 # (m/s^2)^2
cov_bg:    2.3504e-19 # (rad/s)^2
cov_ba:    2.4043e-13 # (m/s^2)^2

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Gyroscope measurement settings
imu:
    enabled: true
    l_bS_b: [ 0.0, 0.0, 0.0 ] # m
    R: [ 0.0 ] # None, uses process covariance
    threshold: 0

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# DVL measurement settings
dvl:
    enabled: true
    l_bS_b: [ -0.0984, 0.0, 0.0548 ] # m
    R: [ 1.6000e-05, 1.6000e-05, 1.6000e-05 ] # (m/s)^2
    threshold: 100

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Depth measurement settings
depth:
    enabled: true
    l_bS_b: [ -1.4192, -0.0254, -0.0156 ] # m
    R: [ 7.0e-5 ] # (m)^2
    threshold: 0

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Range measurement settings
range:
    enabled: false
    l_bS_b: [ -0.0811, 0.0, 0.1678 ] # m
    R: [ 0.1 ] # (m)^2
    threshold: 200.0

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# GPS measurement settings
gps:
    enabled: true
    l_bS_b: [ -1.2934, 0.0, -0.1926 ] # m
    R: [ 2.4637e-16, 2.4637e-16, 10.0 ] # (rad,rad,m)^2
    threshold: 0
