#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the SINS parser node.
#===============================================================================

# List of paths to timestamped vehicle log folders to be loaded
# log_folder_paths: [ "/home/eagle/Desktop/Multivehicle/2021-10-13_16.31.28 (alignment + survey, veh2)",
#                     "/home/eagle/Desktop/Multivehicle/2021-10-13_16.25.33 (alignment + survey, veh3)" ]

# log_folder_paths: [ "/home/eagle/Desktop/Multivehicle/2021-10-13_16.31.28 (alignment + survey, veh2)" ]
log_folder_paths: [ "/home/eagle/avl_log_plotter/plot_me/2021-12-13_18.36.46 (xducer bot)" ]

# Minimum number of GPS sats to be considered a lock
min_sats: 6

# Acoustic ranging whitelist. Whitelisted IDs must be a string of IDs separated
# by spaces. Commenting out this parameter will cause all ranges to be accepted
# if range measurements are enabled. This is a workaround since rosparam doesnt
# support an array of arrays
range_whitelist:
    "155": "120 157"
    "157": "155 120"

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# UKF initial state covariance (P0)
P0:   [ 3.0000e-04, 3.0000e-04, 3.0000e-03,  # Att     (rad)^2
        1.6000e-05, 1.6000e-05, 1.6000e-05,  # NED Vel (m/s)^2
        1.5398e-13, 1.5398e-13, 1.0000e+00,  # Pos     (rad,rad,m)^2
        5.8761e-16, 5.8761e-16, 5.8761e-16,  # b_g     (rad/s)^2
        2.1638e-08, 2.1638e-08, 2.1638e-08 ] # b_a     (m/s^2)^2

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Process covariance (q)
cov_gyro:  1.1517e-09 # (rad/s)^2
cov_accel: 1.1117e-05 # (m/s^2)^2
cov_bg:    2.3504e-19 # (rad/s)^2
cov_ba:    2.4043e-13 # (m/s^2)^2

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Gyroscope measurement settings
imu:
    enabled: true
    filename: kvh_imu_node.imu.dat
    cols: [ 1, 2, 3, 4, 5, 6, 8 ] # wx, wy, wx, fx, fy, fz, valid
    l_bS_b: [ 0.0, 0.0, 0.0 ] # m
    R: [ 0.0 ] # None, uses process covariance
    threshold: 0

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# DVL measurement settings
dvl:
    enabled: true
    filename: pathfinder_dvl_node.velocity.dat
    cols: [ 1, 2, 3 ] # vx, vy, vx
    l_bS_b: [ -0.0984, 0.0, 0.0548 ] # m
    R: [ 1.6000e-05, 1.6000e-05, 1.6000e-05 ] # (m/s)^2
    threshold: 100

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Depth measurement settings
depth:
    enabled: true
    filename: depth_node.depth.dat
    cols: [ 2 ] # depth
    l_bS_b: [ -1.4192, -0.0254, -0.0156 ] # m
    R: [ 7.0e-5 ] # (m)^2
    threshold: 0

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Range measurement settings
range:
    enabled: false
    filename: acoustic_ranging_node.owtt.dat
    cols: [ 1, 2, 3, 4, 8 ]
    l_bS_b: [ -0.0811, 0.0, 0.1678 ] # m
    R: [ 0.1 ] # (m)^2
    threshold: 200.0

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# GPS measurement settings
gps:
    enabled: true
    filename: linx_gps_node.gps.dat
    cols: [ 1, 2, 3, 4, 5, 7 ]
    l_bS_b: [ -1.2934, 0.0, -0.1926 ] # m
    R: [ 2.4637e-16, 2.4637e-16, 10.0 ] # (rad,rad,m)^2
    threshold: 0
